body {
  height: 100vh;
}

#root {
  height: inherit;
}

:root {
  --clr-primary-100: hsl(172, 67%, 45%);
  --clr-primary-200: hsl(0, 0%, 100%);

  --clr-secondary-100: hsl(183, 100%, 15%);
  --clr-secondary-200: hsl(186, 14%, 43%);
  --clr-secondary-300: hsl(184, 14%, 56%);
  --clr-secondary-400: hsl(185, 41%, 84%);
  --clr-secondary-500: hsl(189, 41%, 97%);

  --ff-primary: "Space Mono", monospace;

  --fw-bold: 700;

  --fs-100: 13px;
  --fs-200: 16px;
  --fs-300: 20px;
  --fs-400: 24px;
  --fs-500: 32px;
  --fs-600: 48px;
}

/* Utility classes */

.text-primary-100 {
  color: var(--clr-primary-100);
}
.text-primary-200 {
  color: var(--clr-primary-200);
}
.text-secondary-100 {
  color: var(--clr-secondary-100);
}
.text-secondary-200 {
  color: var(--clr-secondary-200);
}
.text-secondary-300 {
  color: var(--clr-secondary-300);
}
.text-secondary-400 {
  color: var(--clr-secondary-400);
}
.text-secondary-500 {
  color: var(--clr-secondary-500);
}

.bg-primary-100 {
  background-color: var(--clr-primary-100);
}
.bg-primary-200 {
  background-color: var(--clr-primary-200);
}
.bg-secondary-100 {
  background-color: var(--clr-secondary-100);
}
.bg-secondary-200 {
  background-color: var(--clr-secondary-200);
}
.bg-secondary-300 {
  background-color: var(--clr-secondary-300);
}
.bg-secondary-400 {
  background-color: var(--clr-secondary-400);
}
.bg-secondary-500 {
  background-color: var(--clr-secondary-500);
}

.ff-primary {
  font-family: var(--ff-primary);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  box-sizing: border-box;
}

body {
  background-color: var(--clr-secondary-400);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.logo img {
  width: 90px;
  height: 60px;
}

.container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  max-width: 950px;
  align-items: center;
  background-color: var(--clr-primary-200);
  padding: 48px 45px;
  border-radius: 25px;
  margin-bottom: 236px;
}

/* Card 1 */
.card-1 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0 48px 0 0;
}

.card-1 form {
  display: grid;
}

.input-icon {
  width: 100%;
  margin-bottom: 10px;
}

.input-icon svg {
  position: absolute;
}

.icon {
  min-width: 20px;
  margin: 20px;
}

.input-bill {
  width: 379px;
  height: 48px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--clr-secondary-500);
  border: none;
  text-align: right;
  align-items: center;
  margin-top: 5px;
}

.btn-tip {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  grid-template-columns: 1fr;
}

.tips-precent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tips-1 {
  grid-column: span 3;
  display: flex;
  flex-wrap: wrap;
}

.tips-2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tips-precent button {
  display: flex;
  padding: 10px 35px;
  background-color: var(--clr-secondary-100);
  cursor: pointer;
  color: var(--clr-primary-200);
  border-radius: 5px;
  margin: 10px 5px;
  border: none;
  width: 117px;
  height: 48px;
  align-items: center;
}

.btn-tip button:hover {
  color: var(--clr-secondary-100);
  background-color: var(--clr-primary-100);
}

.input-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 118px;
  height: 48px;
  margin: 5px;
  margin-top: 10px;
  color: var(--clr-secondary-100);
  text-align: right;
  border: none;
  background-color: var(--clr-secondary-500);
  border-radius: 5px;
}

.input-people {
  width: 379px;
  height: 48px;
  border-radius: 5px;
  background-color: var(--clr-secondary-500);
  border: none;
  text-align: right;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
}

.input-remove-arrows::-webkit-inner-spin-button,
.input-remove-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input-remove-arrows {
  caret-color: var(--clr-primary-100);
}

.input-remove-arrows:focus {
  outline: none;
}

.input-remove-arrows {
  border: 2px solid hsl(172, 67%, 45%);
}

.card-1 input:hover {
  border: 2px solid var(--clr-primary-100);
}

/* Card 2 */
.card-2 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-secondary-100);
  padding: 30px;
  border-radius: 15px;
}

.total-output {
  display: grid;
  justify-content: space-between;
  margin: 10px 5px;
}

.input-total::placeholder {
  color: var(--clr-primary-100);
}

.input-total {
  text-align: right;
  width: 250px;
  height: 71px;
  border: none;
  outline: none;
}

.input-amount {
  text-align: right;
  width: 250px;
  height: 71px;
  border: none;
  outline: none;
}

.input-amount::placeholder {
  color: var(--clr-primary-100);
}

.amount {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.total {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.btn-reset {
  padding: 10px 150px;
  border-radius: 5px;
  margin-top: 135px;
  font-weight: var(--fw-bold);
}

.btn-reset:hover {
  background-color: var(--clr-primary-100);
}

.tip-button.selected {
  background-color: var(--clr-primary-100);
  color: var(--clr-secondary-100);
}

/* Tablet */
@media (max-width: 930px) {
  .logo {
    margin: 50px 0 40px 0;
  }

  .card-1 {
    margin: 0 10px 32px 20px;
  }

  .container {
    display: inline-block;
    margin: 0;
    margin-top: 40px;
    max-width: 500px;
  }

  .input-amount {
    font-size: var(--fs-500);
  }

  .input-total {
    font-size: var(--fs-500);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .tips-precent {
    grid-template-columns: repeat(2, 1fr);
  }

  .tips-precent button {
    padding: 25px 100px 25px 60px;
    align-content: center;
  }

  .card-1 {
    margin: 0 10px 32px 10px;
  }

  .btn-reset {
    margin-top: 33px;
    padding: 10px 140px;
  }

  .container {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 480px;
  }

  .input-amount {
    font-size: var(--fs-500);
  }

  .input-custom {
    width: 85%;
    padding: 25px 20px 25px 20px;
  }

  .input-total {
    font-size: var(--fs-500);
  }
}
